
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .card-img-top {
            height: 250px;
        }

        .card-body {
            align-self: center;
            text-decoration: overline;
        }

        .card-footer {
            align-self: center;
        }
    </style>
</head>
<body>
  
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin:60px">
        <div class="col">
            <div class="card h-100">
                <img src="~/Images/activity.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Activity</h5>
                </div>
                <div class="card-footer">
                    <a asp-controller="Home" asp-action="ActivityBooks"> <button type="button" class="btn btn-info">View</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/Images/story.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Story</h5>
                </div>
                <div class="card-footer">
                    <a asp-controller="Home" asp-action="StoryBooks"> <button type="button" class="btn btn-info">View</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/Images/subjects.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Subjects</h5>
                </div>
                <div class="card-footer">
                    <a asp-controller="Home" asp-action="SubjectBooks"> <button type="button" class="btn btn-info">View</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>